{% extends "base/base.twig" %}

{% block title %}CESEA - Administration{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block content %}
<section>
    <a href="admin/users">Gestion des utilisateurs</a><br>
    <a href="admin/company">Gestion des entreprises</a>
</section>
{% endblock %}
