{% extends "base/base.twig" %}

{% block title %}CESEA - Création d'offre{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block content %}
<section>
	<form action="/buildoffers" method="post">
		<h2>Créez votre offre</h2>

		<label>Date de début :</label>
		<input type="date" name="start">

		<label>Date de fin :</label>
		<input type="date" name="end">

		<label>Type d'offre :</label>
		<select name="type">
			<option value="" disabled selected>--Inconnu--</option>
			<option value="stage">Stage</option>
			<option value="emploi">Emploi (CDD)</option>
			<option value="alternance">Alternance</option>
		</select>

		<label>Description :</label>
		<textarea name="description"></textarea>


		<input type="submit" name="submit" value="Créer">
	</form>
</section>
{% endblock %}
