{% extends "base/base.twig" %}

{% block title %}CESEA - Vos documents{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/document.css">
{% endblock %}

{% block content %}
<h1>Vos Documents</h1>


<section class="upload">
	<h2>Enregistrer un nouveau fichier</h2>

	{{result}}

	<form action="/documents" method="post" enctype="multipart/form-data">
    	<label>Titre de votre document :
        	<input type="text" name="title" required>
        </label>
        <input name="document" accept=".pdf" type="file">
		<input type="submit" name="submit" value="Enregistrer votre document PDF">
	</form>
</section>
<section class="list">
<div>Documents enregistrés</div>
	{{data|raw}}
</section>
{% endblock %}
