{% extends "base/base.twig" %}

{% block title %}CESI - Vos documents{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/document.css">
{% endblock %}

{% block content %}

<body>
	<main>
	
	<div class="txt-title">Vos Documents</div>
	<div class="sectiondocument">
		<div class="sectionlibrary">
			<div class="lib-txt">Librairie de vos fichiers PDF :</div>
			<div class="blocdocument"></div>
		</div>

	<div class="boxlibrary">


	<div class="pdflibrary"></div>
	<div class="pdflibrary"></div>
	<div class="pdflibrary"></div>

	</div>

        		<div class="sectionupload">
			<div class="files-txt">Enregistrez un nouveau fichiers PDF :</div>
			<div class="blocdocument"></div>
			{{result}}


		<form action="/documents" method="post" enctype="multipart/form-data">

        <label class="titlemainfiles" for="fileUpload" required="">Titre de votre document :</label><br>
                    <input class="inputpdf" autocomplete="off" type="text" required="" name="titre"><br><br>

			<label class="btnupload">
				<input class="btnupload" name="document" accept=".pdf" type="file">
			</label><br>
			<input class="btnsave" autocomplete="off" type="submit" name="submit" value="Enregistrer votre document PDF">
		</form>

	</div>
			</div>

			


	</main>

	<script src="/static/js/toogleMenu.js"></script>
	<script src="/static/js/favoris.js"></script>



</body>
{% endblock %}
