{% extends "base/base.twig" %}

{% block title %}CESEA - Vos favoris{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/favoris.css">
{% endblock %}

{% block content %}
<content>Entreprise
	<div class="rating" id="0">
		<span onclick="change(1, '0')" id="_1">★</span>
		<span onclick="change(2, '0')" id="_2">★</span>
		<span onclick="change(3, '0')" id="_3">★</span>
		<span onclick="change(4, '0')" id="_4">★</span>
		<span onclick="change(5, '0')" id="_5">★</span>
	</div>
	<div class="comments">
		Commentaires
		<a href="">CV de l'offre</a>
		<a href="">Lettre de motivation</a>
	</div>
	<div class="date">
		Date de relance:
		<label for="date">Modifier : </label>
		<input type="date" name="relance" id="relance"><br>
	</div>
</content>

<content>Entreprise
	<div class="rating" id="1">
		<span onclick="change(1, '1')" id="_1">★</span>
		<span onclick="change(2, '1')" id="_2">★</span>
		<span onclick="change(3, '1')" id="_3">★</span>
		<span onclick="change(4, '1')" id="_4">★</span>
		<span onclick="change(5, '1')" id="_5">★</span>
	</div>
	<div class="comments">
		Commentaires
		<a href="">CV de l'offre</a>
		<a href="">Lettre de motivation</a>
	</div>
	<div class="date">
		Date de relance:
		<label for="date">Modifier : </label>
		<input type="date" name="relance" id="relance"><br>
	</div>
</content>

<content>Entreprise
	<div class="rating" id="2">
		<span onclick="change(1, '2')" id="_1">★</span>
		<span onclick="change(2, '2')" id="_2">★</span>
		<span onclick="change(3, '2')" id="_3">★</span>
		<span onclick="change(4, '2')" id="_4">★</span>
		<span onclick="change(5, '2')" id="_5">★</span>
	</div>
	<div class="comments">
		Commentaires
		<a href="">CV de l'offre</a>
		<a href="">Lettre de motivation</a>
	</div>
	<div class="date">
		Date de relance:
		<label for="date">Modifier : </label>
		<input type="date" name="relance" id="relance"><br>
	</div>
</content>
<content>Entreprise
	<div class="rating" id="3">
		<span onclick="change(1, '3')" id="_1">★</span>
		<span onclick="change(2, '3')" id="_2">★</span>
		<span onclick="change(3, '3')" id="_3">★</span>
		<span onclick="change(4, '3')" id="_4">★</span>
		<span onclick="change(5, '3')" id="_5">★</span>
	</div>
	<div class="comments">
		Commentaires
		<a href="">CV de l'offre</a>
		<a href="">Lettre de motivation</a>
	</div>
	<div class="date">
		Date de relance:
		<label for="date">Modifier : </label>
		<input type="date" name="relance" id="relance"><br>
	</div>
</content>
<content>Entreprise
	<div class="rating" id="4">
		<span onclick="change(1, '4')" id="_1">★</span>
		<span onclick="change(2, '4')" id="_2">★</span>
		<span onclick="change(3, '4')" id="_3">★</span>
		<span onclick="change(4, '4')" id="_4">★</span>
		<span onclick="change(5, '4')" id="_5">★</span>
	</div>
	<div class="comments">
		Commentaires
		<a href="">CV de l'offre</a>
		<a href="">Lettre de motivation</a>
	</div>
	<div class="date">
		Date de relance:
		<label for="date">Modifier : </label>
		<input type="date" name="relance" id="relance"><br>
	</div>
</content>
{% endblock %}

{% block scripts %}
<script src="/static/js/favoris.js"> </script>
{% endblock %}
