{% extends "base/base.twig" %}

{% block title %}CESI - Recherche de Stage{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}
<content>
    <h1>Vous recherchez
        <div id=flip>
            <div>
                <div>Une Alternance</div>
            </div>
            <div>
                <div>Un Emploi</div>
            </div>
            <div>
                <div>Un Avenir</div>
            </div>
        </div> laissez-nous vous guider
    </h1>
    <form action="/search" method="get" accept-charset="utf-8">
        <input type="search" name="search" placeholder="Recherchez parmis {{ offers }} offres">
        <input type="submit" value="RECHERCHER">
    </form>
</content>
{% endblock %}
