{% extends "base/base.twig" %}

{% block title %}CESI - Recherche de Stage{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
<div class="main-img">
    <div class="main-text">Vous recherchez
        <div id=flip>
            <div>
                <div>Une Alternance</div>
            </div>
            <div>
                <div>Un Emploi</div>
            </div>
            <div>
                <div>Un Avenir</div>
            </div>
        </div> laissez-nous vous guider…
    </div>
    <div class="search">
        <input type="text" class="searchTerm" placeholder="Recherchez parmis 84 offres de stage">
        <button type="submit" class="searchButton">RECHERCHEZ</button>
    </div>
</div>
{% endblock %}
