{% extends "base/base.twig" %}

{% block title %}CESI - Création votre Profil entreprise{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/registercorp.css">
{% endblock %}

{% block content %}

<body>
	<main>
	
	<div class="txt-title">Créer votre profil entreprise</div>
	<div class="sectiondocument">

	<div class="marginform"></div>

        		<div class="sectionupload">
			<div class="files-txt">Formulaire de création de profil entreprise</div>
			<div class="blocdocument"></div>


		<form action="" method="post">

        <label class="titlemainfiles" for="fileUpload" required="">Nom de votre Entreprise :</label><br>
        <input class="inputpdf" autocomplete="off" type="text" required="" name="titre"><br><br>



 <label class="titlemainfiles" for="fileUpload" required="">Logo de votre entreprise :</label><br>
<label class="btnupload">
				<input class="btnupload" id="files" name="document" accept=".pdf" type="file">
			</label><br>



        <label class="titlemainfiles" for="fileUpload" required="">Votre numéro de téléphone :</label><br>
        <input class="inputpdf" autocomplete="off" type="tel" required="" name="titre"><br><br>



        <label class="titlemainfiles" for="fileUpload" required="">Votre adresse email :</label><br>
        <input class="inputpdf" autocomplete="off" type="email" required="" name="titre"><br><br>



        <label class="titlemainfiles" for="fileUpload" required="">Description bréve de votre entreprise :</label><br>
       <textarea class="inputpdf" autocomplete="off" type="text" required="" name="titre"></textarea><br><br>


			<input class="btnsave" autocomplete="off" type="submit" name="submit" value="Créer votre profil">
		</form>

	</div>
			</div>

			


	</main>

	<script src="/static/js/toogleMenu.js"></script>
	<script src="/static/js/favoris.js"></script>



</body>
{% endblock %}
