{% extends "base/base.twig" %}

{% block title %}CESI - Création votre Profil entreprise{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/static/css/registercorp.css">
{% endblock %}


{% block content %}
<section>
	<form action="/registercorp" method="post">
		<h2>Créer votre profil entreprise</h2>
		<span class="error">{{ errors.register }}</span>
		<label>Nom de l'entreprise :</label>
		<input type="text" name="nom" required>
		<span class="error">{{ errors.nom }}</span>

		{# <label>Logo :</label>
		<input name="logo" accept=".pdf" type="file"> #}

		<label>Description :</label>
		<textarea type="text" name="description" required></textarea>
		<span class="error">{{ errors.description }}</span>

		<input type="submit" name="submit" value="Créer">
	</form>
</section>
{% endblock %}
