h1 {
    text-align: center;
}

input {
    margin: 1em;
    width: 40%;
    height: 4em;
}

input[type=text] {
    width: 30%;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

label {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2em;
}

.pdflibrary {
    background: url("/static/img/cvexemple.png") no-repeat center;
    background-size: 219px;
    box-shadow: 0 2px 10px 0 rgb(5 5 5 / 15%);
    -webkit-box-shadow: 0 2px 10px 0 rgb(5 5 5 / 15%);
    height: 300px;
    width: 220px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}

.pdflibrary:hover {
    transform: scale(1.1);
}

.upload {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: rgba(100, 100, 100, 0.5);
    padding-top: 2em;
}

@media screen and (max-width: 747px) {
    input {
        width: 80%;
        height: 3em;
    }

    input[type=submit] {
        margin-top: 1em;
        width: 40%;
    }
}
