main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}

content {
    box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
    width: 20%;
    height: 20em;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(100, 100, 100, 0.4);
}

input[type='date'] {
    height: 2em;
}

.rating {
    margin: 0 auto 1em;
    font-size: 2em;
    overflow: hidden;
    color: #aaa;
    pointer-events: none;
}

.rating span {
    transition: color .4s;
    pointer-events: auto;
}

.rating:hover span,
.rating:focus span {
    color: #fa0;
}

.rating span:hover ~ span,
.rating span:focus ~ span {
    color: #aaa;
}

.checked {
    color: #fa0;
}

.comments {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 747px) {
    main {
        flex-flow: column;
    }

    content {
        width: 85%;
    }
}
