.b {
    color: silver;
    font-size: 250%;
    z-index: ;
    margin-right: 400px;
    text-decoration: none;
}

.note {
    margin-left: 300px;
    width: 32px;
    text-decoration: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul.notes-echelle {
    margin: 0;
    padding: 0;
    font: .75em/1.2 Arial, Helvetica, sans-serif;
}

ul.notes-echelle li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 20px;
    min-height: 20px;
}

a[href*="intent"] {
    display: inline-block;
    margin-top: 0.4em;
}

.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
    display: flex;
}

.rating a {
    float: right;
    color: rgb(240, 232, 232);
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: #ffc252;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}

* html ul.notes-echelle.js li {
    width: 5px;
    height: 5px;
}

ul.notes-echelle li label {
    display: block;
    text-align: center;
    line-height: 5px;
    background: url(http://babylon-design.com/exemples/jquery-stars/etoiles.gif) center top no-repeat;
    cursor: pointer;
}

.item {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #fff;
    font-size: 14px;
}

.entreprise {
    display: flex;
    justify-content: space-around;
}

.entreprises {
    margin-top: 8em;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    margin-left: 220px;
    -webkit-box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
    box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
    width: 350px;
}