main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}

a{
    color: white;
    font-weight: 700;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type='date'] {
    padding: 10px 20px 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

content {
    box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
    width: 290px;
    height: 20em;
    margin: 20px;
    padding: 30px ;
    border-radius: 5px;
    -webkit-backdrop-filter: saturate(180%) blur(60px);
    backdrop-filter: saturate(180%) blur(60px);
    background: rgba(73, 73, 73, 0.5);
    color: #ffffff;
}

input[type='date'] {
    height: 2em;
}

.rating {
    margin: 0 auto 1em;
    font-size: 2em;
    overflow: hidden;
    color: rgb(255, 255, 255);
    pointer-events: none;
    margin-top: 20px;
    
}

.rating span {
    transition: color .4s;
    pointer-events: auto;
    cursor: pointer;
    margin-top: 20px;
}

.rating:hover span,
.rating:focus span {
    color: #ffcc55;
}

.boxcomment{
    display: flex;
    text-decoration: none;
}

.titletext{
    font-size: 23px;
    font-weight: 500 ;
    font-family: 'Poppins';
}
.titlecomment{
    font-size: 18px;
    font-weight: 500 ;
    font-family: 'Poppins';
}
.titledate{
    font-size: 18px;
    font-weight: 500 ;
    font-family: 'Poppins';
}

.rating span:hover ~ span,
.rating span:focus ~ span {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.checked {
    color: #ffcc55;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 747px) {
    main {
        flex-flow: column;
    }

    content {
        width: 85%;
    }
}
