.b {
    color: silver;
    font-size: 250%;
    z-index: ;
    margin-right: 400px;
    text-decoration: none;
}

.note {
    margin-left: 300px;
    width: 32px;
    text-decoration: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul.notes-echelle {
    margin: 0;
    padding: 0;
    font: .75em/1.2 Arial, Helvetica, sans-serif;
}

ul.notes-echelle li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 20px;
    min-height: 20px;
}

a[href*="intent"] {
    display: inline-block;
    margin-top: 0.4em;
}

.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}

* html ul.notes-echelle.js li {
    width: 5px;
    height: 5px;
}

ul.notes-echelle li label {
    display: block;
    text-align: center;
    line-height: 5px;
    background: url(http://babylon-design.com/exemples/jquery-stars/etoiles.gif) center top no-repeat;
    cursor: pointer;
}

.progress {
    width: 300px;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
    text-align: center width: 25px;
    background-color: green;
}

.entreprise {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.entrepriseFavorite {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
