footer {
    grid-area: footer;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: 2em;
    width: 95%;
}

@media screen and (max-width: 747px) {
    footer {
        margin-top: 2em;
    }
}
