#flip {
    height: 1em;
    overflow: hidden;
}

#flip > div > div {
    color: #fff;
    margin: 0;
    display: inline-block;
    background-color: hsla(39, 90%, 55%, 0.5);
}

#flip div:first-child {
    animation: show 13s linear infinite;
}

@keyframes show {
    0% {
        margin-top: -2.8em;
    }

    25% {
        margin-top: -2.8em;
    }

    30% {
        margin-top: -1.6em;
    }

    60% {
        margin-top: -1.6em;
    }

    65% {
        margin-top: -0.2em;
    }

    95% {
        margin-top: -0.2em;
    }

    100% {
        margin-top: -2.8em;
    }
}
