* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "navbar content" "nabvar footer";
    color: #fff;
    background: #000;
    height: 100vh;
}

main {
    grid-area: content;
    background: url(/static/img/bg.jpg) top no-repeat fixed;
    background-size: 100%;
}

h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 300;
    width: 800px;
    display: block;
    margin: 100px auto 100px auto;
}

hr {
    border: none;
    background-color: #fc5;
    width: 100%;
    height: 8px;
}

input, button, .button {
    height: 50px;
    border: none;
    color: #000;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=submit], button, .button {
    height: 4em;
    border: none;
    background: #fc5;
    text-align: center;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
}

textarea {
    width: 80%;
    height: 4em;
    border: none;
    color: #000;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.button {
    text-decoration: none;
    padding-top: 1.5em;
    height: 2.5em;
}

@media screen and (max-width: 747px) {
    body {
        grid-template-rows: 0.5fr 6.5fr 0.5fr;
        grid-template-columns: 100vw;
        grid-template-areas: "navbar" "content" "footer";
    }

    main {
        overflow: hidden;
    }

    h1 {
        font-size: 2em;
        margin: 0 0 50px 0;
    }
}
