#navbar {
    grid-area: navbar;
}

nav input[type=checkbox] {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    display: block;
    padding: 20px 18px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #777;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}

nav > ul > li > a:hover,
nav > ul > li:hover {
    color: #fc5;
}

nav a {
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-indent: 10px;
}

nav label {
    box-sizing: border-box;
    display: block;
    text-indent: 10px;
}

.app-logo {
    background: #fff;
    padding: 0 0;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.profil {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-top: 3px;
    background: #000;
}

.submenu-dropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.submenu-dropdown > label {
    cursor: pointer;
}

.submenu-dropdown > label:after {
    content: " ▼";
}

#submenu > li {
    border: none;
}

.focus > * {
    color: #fb2;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 747px) {
    .mobile-menu {
        display: flex;
        background: #fff;
    }

    .mobile-menu > label {
        margin-right: 10px;
    }

    #navmenu {
        background: #000;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        position: fixed;
        z-index: 2;
    }

    .toogle-menu {
        display: block;
        width: 80px;
        height: 80px;
        cursor: pointer;
        z-index: 2;
        background-color: #fc5;
        color: #000;
        font-size: 3.5em;
        font-weight: bold;
    }

    .no-transform {
        transform: none !important;
    }
}
