main {
    background: url(/static/img/bg.jpg) 0 top no-repeat;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: rgba(100, 100, 100, 0.5);
    width: 60%;
    height: 80%;
    font-size: 2em;
    line-height: 1.5em;
    border-radius: 5px;
}

input {
    width: 40%;
    height: 3em;
}

input[type=submit] {
    margin-top: 1em;
    width: 20%;
}

@media screen and (max-width: 747px) {
    main {
        overflow: hidden;
    }

    form {
        font-size: 1em;
        line-height: 1.5em;
        width: 80%;
    }

    input {
        width: 80%;
        height: 3em;
    }

    input[type=submit] {
        margin-top: 1em;
        width: 40%;
    }
}
