form {
    display: flex;
    justify-content: center;
    margin: none;
    margin-top: 4em;
    width: 100%;
}

input[type=search] {
    width: 40%;
    border: none;
    outline: none;
    color: #555;
    height: 4em;
    padding-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

input[type=submit] {
    padding: 0 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

input[type=submit]:hover {
    background: #fb2;
}

@media screen and (max-width: 747px) {
    form {
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2em;
    }

    input[type=search] {
        width: 70%;
    }

    input[type=submit] {
        width: 30%;
    }
}

#results {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    height: 100%;
}

#results > div {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    padding: 10px;
    margin-top: 2em;
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: solid 2px #eee;
}

.label {
    width: 10%;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.stage {
    background: #3e9;
}
