main {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

section form {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

section form label {
    color: #000;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
}

input[type=reset] {
    height: 50px;
    border: none;
    background: #ddd;
    text-align: center;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
}

.user_card {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(100, 100, 100, 0.5);
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
}

.user_card > img {
    width: 20%;
    border-radius: 100%;
    align-self: center;
}

.user_card > div {
    word-wrap: break-word;
}

.submit {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 1em;
}

.safe {
    color: #000;
    font-weight: bold;
    font-size: 100%;
}

.delete_text {
    color: #a00;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 1em;
}

.delete {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

button[href="/delete_account"] {
    background: #c33;
    color: #fff;
}

.fail {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    background: rgba(100, 100, 100, 0.5);
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 10px;
    border-radius: 5px;
}

#username {
    font-style: italic;
}

.error {
    color: #900;
    font-size: 2em;
}
