<nav class="navbar">
    <ul class="">
        <li>            
            <a href="#" class="nav-label">
                <div href="#" class="profile-img"></div>
                <nav>
                    <div class="nav-dropdown">
                      <input id="nav-console" type="checkbox"/>
                      <label class="classlabel" for="nav-console">Mon profil</label>
                      <ul class="submenu">
                        <div class="linknav">Vos informations</div>
                        <div class="linknav">Documents</div>
                      </ul>
                    </div>
                  </nav>
            </a>
            <a href="#" class="nav-label-here">Accueil</a>
            <a href="#" class="nav-label">Vos Candidatures</a>
            <a href="#" class="nav-label">Offres de stage</a>
            <a href="#" class="nav-label">Favoris</a>
            <div href="#" class="main-logo"></div>
        </li>
    </ul>
</nav>


<!--responsive-->

<nav class="navbarresponsive">
    <div href="#" class="main-logo"></div>
    <div class="buttonrespon">


  
    </div>
 <nav class="spanbox" role="navigation">
  <div id="menuToggle">
    <input type="checkbox" id="myInput"/>
    <span></span>
    <span></span>
    <span></span>
    <ul class="mobilemenu">
         <li>            
            <a href="#" class="nav-label">
                <div href="#" class="profile-img"></div>
                <nav>
                    <div class="nav-dropdown">
                      <input id="nav-console" type="checkbox"/>
                      <label class="classlabel" for="nav-console">Mon profil</label>
                      <ul class="submenu">
                        <div class="linknav">Vos informations</div>
                        <div class="linknav">Documents</div>
                      </ul>
                    </div>
                  </nav>
            </a>
            <a href="#" class="nav-label-here">Accueil</a>
            <a href="#" class="nav-label">Vos Candidatures</a>
            <a href="#" class="nav-label">Offres de stage</a>
            <a href="#" class="nav-label">Favoris</a>
        </li>
    </ul>
  </div>
</nav>


       
        
</nav>