<nav id="navbar">
	<div class="mobile-menu">
		<input type="checkbox" onclick="toogleMobile()" id="toogle-menu">
		<label for="toogle-menu" class="toogle-menu">&#9776;</label>
		<img src="/static/img/logo.png" alt="Application logo" width="220" height="70">
	</div>
	<ul id="navmenu">
		<li>
			<nav>
				<div class="submenu-dropdown">
					<img src="/static/img/DefaultProfil.png" alt="Photo de profil de user.name" class="profil">
					<label for="toogle-submenu">Mon profil
						<input id="toogle-submenu" onclick="toogleSubmenu()" type="checkbox" />
					</label>
				</div>
				<ul class="hide" id="submenu">
					{% if user.is_authenticated %}
						<li>
							<a href="/user" title="Vos informations personelles">Vos informations</a>
						</li>
						<li>
							<a href="/documents" title="Vos documents">Documents</a>
						</li>
						<li>
							<a href="/logout" title="Se déconnecter">Déconnexion</a>
						</li>
					{% else %}
						<li>
							<a href="/login" title="Connexion">Se connecter</a>
						</li>
						<li>
							<a href="/register" title="Inscription">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</li>
		<li>
			<a href="/">Accueil</a>
		</li>
		<li>
			<a href="/candidatures">Vos Candidatures</a>
		</li>
		<li>
			<a href="/offers">Offres de stage</a>
		</li>
		<li>
			<a href="/favoris">Favoris</a>
		</li>
		<li class="app-logo">
			<img src="/static/img/logo.png" alt="Application logo" width="220" height="120">
		</li>
	</ul>
</nav>
