{% extends "base/base.twig" %}

{% block title %}Administration - Supression{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin/disable_delete.css.css">
{% endblock %}

{% block content %}
<section>
    <form action="/admin/delete_{{ delete.type }}?name={{ delete.name }}" method="post" accept-charset="utf-8" class="center">
        <label id="sure">
            Êtes vous sure de vouloir supprimer {{ delete.name }} ?
        </label>
        <input type="hidden" name="delete" value="true">
        <a href="/admin" class="button">Non</a>
        <input type="submit" name="submit" value="Oui">
    </form>
</section>
{% endblock %}
